

.container {
    background-color: rgb(241, 224, 224);
    border: 5px solid rgb(20, 42, 82);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    border-radius: 10px;
    width: 60vw;
    height: auto;
    padding: 20px;
    gap: 10px;
}

.container h1, p {
    align-self: left;
}



h1 {
    
    padding: 10px;
    border-radius: 5px;
   
}

